* {
	text-align: center;
	color: #ffffff;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

header,
footer {
	position: relative;
	width: 100%;
	height: 10vh;
	background-color: palevioletred;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
}

header h3 {
	position: absolute;
}

#return,
#countdown {
	top: 2vh;
}

#highscores,
#total-q-section {
	top: 7vh;
}

#countdown,
#total-q-section {
	right: 10px;
}
#return,
#highscores {
	left: 10px;
}

main * {
	color: #928c8c;
	margin: 2vh 0;
}

p {
	width: 40%;
	margin: 0 auto;
}

button {
	color: #ffffff;
	background-color: rgb(224, 201, 209);
	border: 2px solid #e4568c;
	border-radius: 8px;
	text-shadow: #e4568c 0px 0px 25px;
	height: 40px;
	padding: 10px 16px;
	position: relative;
	text-align: center;
}

#options * {
	margin: 5px;
}

table {
	width: 33vw;
}

table * {
	height: 30px;
}

th {
	border-bottom: 3px solid palevioletred;
}

button:hover {
	background-color: palevioletred;
}

a:hover {
	text-shadow: #e9bacc 1px 0px 5px;
}
